---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blogs/">Blogs</a>
		<h1>Rakshak</h1>	
		<h2>Hi. I work for Schneider Electric. Nice meeting you. </h2>
    </n>
        <h2>I am working on learning how to use Astro. 
            I will keep updating it once in a while.
            So don't forget to keep coming back and checking this page once in a while.</h2>
   
	</body>
</html>
